<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502102498640-6s9njjg3cbpme697fi5qo005k5sfmkfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502102498640-6s9njjg3cbpme697fi5qo005k5sfmkfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502102498640-gm66t6bq5h5k6mle2ndlqjfdvtlghbac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-b3qvSnXXs6-cWXndSdP7UwmKOFCQYE8</string>
	<key>GCM_SENDER_ID</key>
	<string>502102498640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hvtest1</string>
	<key>PROJECT_ID</key>
	<string>homeventory-5f016</string>
	<key>STORAGE_BUCKET</key>
	<string>homeventory-5f016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502102498640:ios:292043be611d559951a055</string>
</dict>
</plist>